.container{
    display: flex; flex-wrap: wrap; gap: 73px; align-items: flex-start; justify-content: center; padding: var(--vertical-padding) 0; border-bottom: 1px solid #555; margin-bottom: 55px;
    a{
        display: inline-flex; align-items: center; flex-direction: column; gap: 20px; 
        .icon{width: 80px; height: 80px; border-radius: 50%; display: flex; align-items: center; justify-content: center; background: #faf3e0; color: var(--color-brown); font-size: 28px; transition: all .2s;}
        p{font-size: 18px; color: #aaa; transition: all .2s; }

        &:hover{
            .icon{background: var(--color1); color: #423c2d}
            p{color: var(--color1)}
        }
    }
}

@media (max-width: 1400px) {
    .container{
        gap: 40px;
        a{
            .icon{width: 70px; height: 70px;}
            p{font-size: 16px;}
        }
    }
}

@media (max-width: 900px) {
    .container{
        row-gap: 20px;
        a{
            gap: 10px;
            .icon{width: 60px; height: 60px; font-size: 22px;}
            p{font-size: 14px;}
        }
    }
}

@media (max-width: 450px) {
    .container{
        margin-bottom: 30px;
        a{
            .icon{width: 50px; height: 50px; font-size: 20px;}
            p{font-size: 13px;}
        }
    }
}