.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(35, 35, 35, 0.7);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #333;
}

.headerInner{display: flex; align-items: center; justify-content: space-between;}

.header .mobile{display: none;}
.header .mobile .my{position: absolute; right: 20px; bottom: 6px;}

.header .centerLogo{position: absolute; left: 50%; top: 8px; transform: translateX(-50%);}

.header .web{display: flex; align-items: center; gap: 20px;}
.header .web a{color: #fff}

@media (max-width: 1400px) {
    .header{z-index: 99999;}
}

@media (max-width: 1100px) {
   
}

@media (max-width: 900px) {
    .header{height: 50px; padding: 0;}
    .header a{display: inline-block;}
    .header img[alt="FCLAW"]{height: 30px; width: auto; display: inline-block;}

    .header .web{display: none;}
    .header .mobile{display: inline-block;}
}