
.icon-doc-search:before { content: '\e800'; } /* '' */
.icon-handshake:before { content: '\e801'; } /* '' */
.icon-idea:before { content: '\e802'; } /* '' */
.icon-note:before { content: '\e803'; } /* '' */
.icon-users:before { content: '\e804'; } /* '' */
.icon-shield:before { content: '\e805'; } /* '' */
.icon-store:before { content: '\e806'; } /* '' */
.icon-judge:before { content: '\e807'; } /* '' */
